body {
    background: white;
    color: white;
    margin: 0px;
}

#code-breaker{
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

#breaker{
    margin-left: 7.5%;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    background-color: transparent;
    font-size: 50px;
    resize: none;
    outline: none;
    color: white;
    border-bottom: 5px solid white;
    width: 400px;
}

@keyframes blinker {
    100% {
      opacity: 0;
    }
  }

#breaker-header{
    margin-left: 10%;
    margin-right: 50%;
    font-size: 50px;
}

#secret-overlay {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

#headline-div {
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    text-align: center;
    padding: 100px;
    font-family: 'Trebuchet MS', sans-serif;
}

h1 {
    font-size: 70px;
    color: white;
    
}

#but-im-not-a-wrapper {
    background-color: #22c1c3;
    white-space: nowrap;
}

.selection{
    width: 33%;
    background-color: #22c1c3;
    display: inline-block;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.selection:hover{
    background-color: #18898b;
}

#selection-1{
    background-color: transparent;
}

#selection-1:hover{
    background-color: #18a1a3;
}

#selection-2:hover{
    background-color: #18a1a3;
}

#selection-3:hover{
    background-color: #18a1a3;
}


.description {
    background-color: #18898b;
    padding: 20px;
}

.description p {
    font-size: 16px;
    margin: 0px;
}

#description-1 {
    
}

#description-2 {
    display: none;
}

#description-3 {
    display: none;
}
